@charset "UTF-8";


/*Font Nunito-Sans*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/*Font Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');


font.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

font.nunito-sans-h1 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weigh;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body{
    background-color: white;
    font-size: 20pt;
}



h1#txt_principal_index{
    position: relative; 
    color: black;
    font-family: Nunito Sans;
    top: -20px;
}



img#imagem_principal_index{
    width: 600px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    Position: relative;
    top: 20px;
    left: 250px;
    
}

svg#onda_1_index{
  display: block;
  width: 100%;
  height: 120px;
  position:relative;
  top: -90px;
  transform: scaleY(-1);
  background-attachment: fixed;
}

section#img_1_index{
    max-width: auto;
    height: 400px;
    background-color: #0F4C81;
    position: relative;
    top: -210px;
    box-shadow: 2px 3px 25px #0F4C81;
}

svg#onda_2_index{
  display: block;
  width: 100%;
  height: 120px;
  position:relative;
  top: 300px;
  
}

h2#lado_img_1_index{
    color: white;
    position: relative;
    top: -500px;
    left: 30px;
    font-family: Ubuntu;

}



